<%- model_class = Order -%>
<div class="page-header">
  <h2><%=t 'order.title', :default => model_class.model_name.human.pluralize %></h2>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Narucio</th>
      <th>Kontakt telefon</th>
      <th>Isporuka na adresu</th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th>Cena</th>
      <th>Datum narucivanja</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <!--<td><%= link_to order.id, order_path(order) %></td>-->
        <td><%= order.first_name %> <%= order.last_name %></td>
        <td><%= order.phone_number %></td>
        <td><%= order.delivery_address %>, <%= order.delivery_city %>, <%= order.delivery_zip_code %></td>
        <td><%= order.status %></td>
        <td><%= format_price(order.total_price) %></td>
        <td><%= order.created_at.strftime("%d/%m/%Y") %></td>
        <td style="text-align: right">
          <%= link_to 'Detaljno', order_path(order), :class => 'btn btn-info' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
