<div class="control-group">
   <%= f.label :email, t("activerecord.attributes.user.email", :default => "Email"), :class => 'control-label' %>
  <div class="input">
    <%= f.text_field :email, :class => 'text_field' %>
  </div>
</div>

<div class="control-group">
   <%= f.label :name, t("activerecord.attributes.user.name", :default => "Name"), :class => 'control-label' %>
  <div class="input">
    <%= f.text_field :name, :class => 'text_field' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :role %><br />
  <%= f.collection_select :role, User::ROLES, :to_s, :titleize %>
</div>



<div class="form-actions">
  <button class="btn primary" type="submit">Save</button> or
	<%= link_to "Cancel", admin_users_path %>
</div>
