<% title "Products" %>

    <div class="row-fluid">
            <div class="span4">
                <h2 class="well-title">Proizvodi</h2>
            </div>
            <div class="span8">

              <div class="btn-toolbar pull-right sort-actions">
                <div class="btn-group">
                  <button class="btn btn-warning"><%= sort_info %></button>
                  <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><%= sorting('price', t(:price)+' '+t(:asc), 'asc') %></li>
                    <li><%= sorting('price', t(:price)+' '+t(:desc), 'desc') %></li>
                    <li><%= sorting('title', t(:title)+' '+t(:asc), 'asc') %></li>
                    <li><%= sorting('title', t(:title)+' '+t(:desc), 'desc') %></li>
                  </ul>
                </div>
              </div>

            </div>

    </div>

    <hr class="divide"/>

    <%=	 render 'products' %>
