<%- model_class = Product -%>

<div id="product-<%= @product.id %>-show-current-card">
<%= render partial: 'products/current_card', locals: { :product => @product} %>
</div>

<h2><%= shorty(@product.title, 65) %></h2>

<hr>

<div id="product-show" class="row-fluid">
    <div class="span5">
        <div class="description"><%= raw(@product.description) %></div>
        <h2 class="price">Cena <%= format_price(@product.price) %></h2>
    </div>
    <div class="span7" id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">

        <% default = @product.default_picture_id ? @product.pictures.find(@product.default_picture_id) : @product.pictures.first %>

        <% if default %>
        <ul class="thumbnails default">
            <li class="span12">
                <a href="<%= default.image_url %>" title="<%= shorty(default.name ||= @product.title, 50, false) %>" data-gallery="gallery" class="thumbnail">
                <%= image_tag(default.image_url :alt => default.name) %>
                </a>
            </li>
        </ul>
        <% end %>

        <% if @product.pictures.size > 1 %>
        <div id="product-pictures-slider" class="carousel slide">
            <a class="carousel-control left" href="#product-pictures-slider" data-slide="prev" style="margin-right: 10px;">‹</a>
            <a class="carousel-control right" href="#product-pictures-slider" data-slide="next">›</a>
            <div class="carousel-inner">
            <ul class="thumbnails slide">
            <% @index = 0 %>
            <%-
                pictures = @product.pictures
                pictures.each_with_index { |picture, i|
                    pictures.delete_at(i) if picture.id == default.id
                }
            -%>
            <% pictures.each_slice(3) do |slice| %>
                <div class="item <%= @index == 0 ? 'active' : '' %>">
                    <% slice.each do |picture| %>

                    <% if default.id != picture.id %>
                        <li class="span4">
                            <a href="<%= picture.image_url %>" title="<%= shorty(picture.name ||= @product.title, 50, false) %>" data-gallery="gallery" class="thumbnail">
                                <%= image_tag(picture.image_url(:thumb), :alt => picture.name) %>
                            </a>
                        </li>
                    <% end %>

                    <% end %>
                </div>
                <% @index += 1 %>
                <% end %>
            </ul>
            </div>
            <!--/.carousel-inner -->
            </div>
        <!--/#product-pictures-slider -->
        <% end %>

    </div>
</div>

<div id="product-<%= @product.id %>-show-form-actions" class="form-actions">
<%= render partial: 'products/form_actions', locals: { :product => @product}  %>
</div>